**/__pycache__
env
/server_env
/tmp
/outputs
/log
/.idea
/.vscode
/.git
/.github
test.bat
server/python_server/output/*
server/python_server/init_images/*
node_modules/
server/python_server/prompt_shortcut.json
experimental/
start_server.sh
start_server.bat
*.ccx
expanded_mask.png
original_mask.png
/config

/jimp/*
!/jimp/browser/
/jimp/browser/examples
/jimp/browser/*.md
/jimp/browser/*.editorconfig
/jimp/browser/lib/jimp.js


# comments when packaging (include in the package,uxp packager will use .gitignore to ignore files):
*/dist/*LICENSE.txt
*/dist/*.bundle.js

# uncomments when packaging (don't include in the package)
# /docs
